<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
<h1 th:inline="text">List of transactions</h1>
<tr th:each="transaction, iterStat : ${transactions}">
    <td th:text="${customers[iterStat.index].firstName}"></td>
    <td th:text="${customers[iterStat.index].lastName}"></td>
    <td th:text="${transaction.amount}"></td>
    <td th:text="${transaction.date}"></td>
    <td><br></td>
</tr>
<form th:action="@{/hello}">
    <input type="submit" value="BACK"/>
</form>
</body>
</html>